.badge {
    text-align: left;
    font-size: 20px;
    position: absolute;
    right: -2%;
    top: 4%;
    font-weight: 700;
    width: 100px;
}

.badgeLabel {
    display: inline-block;
    white-space: nowrap;
    text-align: start;
}

@media (max-width: 860px) {
    .badge {
        right: -5%;
    }
}

@media (max-width: 710px) {
    .badge {
        right: -8%;
    }
}
