.block {
    position: relative;
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    isolation: isolate;
    height: 100vh;
    margin-left: clamp(0px, 8vw, 300px);
    margin-right: clamp(0px, 5vw, 200px);
    padding-block: 100px;
    border-inline: 1px solid var(--bgLines);
}

.bgLineV,
.bgLineH {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.bgLineV::before,
.bgLineH::before {
    content: '';
    position: absolute;
    background: var(--bgLines);
}

.bgLineV::before {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
}

.bgLineH::before {
    height: 1px;
    width: 100%;
    left: 0;
    top: calc(50% + 4px);
}

.stage {
    position: relative;
    min-height: 380px;
}

@media (max-width: 1200px) {
    .block {
        margin: 0;
    }
}

@media (max-width: 640px) {
    .stage {
        min-height: 240px;
    }
    .bgLineH,
    .bgLineV,
    .bgLineH::before,
    .bgLineV::before {
        display: none;
    }
    .bgLineB {
        display: block;
        border-bottom: 1px solid var(--bgLines);
    }
}
